@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    user-select: none;
}



.not_found{
    align-self: center;
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: clamp(30px, 2.5vw, 60px);
    background-color: rgba(0, 0, 0, 0.582);
    background-size: 1em;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 0.5em;
    margin-top: 15vh;
}


.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.content_texts{
    width: 20em;
    font-size: clamp(20px, 2vw, 50px);
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8vw;
}

.content_header{
    font-family: "Roboto";
    font-weight: 350;
    text-align: center;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 0;
}

.cat_text{
    font-family: "Roboto";
    font-weight: 350;
    text-align: center;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 2em;
}

.cute_cat{
    width: 30vw;
    border:2px solid rgba(0, 0, 0, 0.774);
    border-radius: 10px;
    opacity: 0.95;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.78);
}

.home_button{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 25px;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border: 1px solid  rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-decoration: none;
}

.home_button:hover{
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid  rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 800px)
{
    .not_found{
        margin-top: 5vh;
    }

    .content{
        flex-direction: column;
    }

    .content_texts{
        margin-right: 0;
        margin-bottom: 3em;
    }

    .cute_cat{
        height: 30vh;
        width: auto;
    }
}


@media only screen and (max-width: 600px)
{
 .header{
        margin-top: 2em;
        margin-bottom: 0;
        height: 40px;
        width: 13em;
 }

 .not_found{
     font-size: 25px;
 }

 .content{
     flex-direction: column;
     margin-top: 2em;
 }

 .cute_cat{
     width: 15em;
     height: 15em;
 }

 .content_texts{
     width: 280px;
     font-size: 20px;
     margin-bottom: 2em;
     margin-right: 0;
     text-align: center;
 }

 .cat_text{
     margin-bottom: 1em;
 }

 .home_button{
     font-size: 20px;
     margin-top: 0;
 }

}


